/* Table.css */

.container {
  max-width: 800px;
  margin: 20px auto;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  color: #888;
  font-size: 1.2rem;
}

.list-group-item {
  padding: 10px;
  margin-top: 10px;
}

.img-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.input-group-append {
  margin-left: 10px;
}

.btn-primary {
  border-radius: 0;
}

.btn-success {
  border-radius: 0;
}

.btn-warning {
  border-radius: 0;
}

.btn-danger {
  border-radius: 0;
}
